.blog__content {
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 26px;
    margin-top: 26px;
    overflow: auto;

    p {
        font: normal 15px/1.9em 'Merriweather', Georgia, serif;
    }

}
