.grid {
}

.grid__item {
    // padding-right: $gutter;
}

html {
    color: $black;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

body {
    margin: 0;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.9em;
    font: normal 15px/1.9em 'Merriweather', Georgia, serif;
    color: #292929;
}
