{% load static %}

<div class="footer section">
    <div class="container">
        <div class="footer__container">
            <small class="footer__text">
                {% now "Y" %} - Simon du Preez
            </small>

            <div class="footer__social">
                <ul>
                  <li><a href=https://www.linkedin.com/in/simondupreez/"" target="blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://github.com/SDupZ" target="blank"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://www.facebook.com/sdup.nz" target="blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
