<a href="{% url 'project' slug %}" class="base-card work-card ">
    <div class="work-tile-wrapper {% if size == 'full' %}work-tile-wrapper--full{% endif %}"
    style="opacity: 0.7; background-image: linear-gradient(rgba({{color.0}}, {{color.1}}, {{color.2}}, {{color.3}}), rgba({{color.0}}, {{color.1}}, {{color.2}}, {{color.3}}))">
        <div class="work-img">
          <img src='{{ img }}' />
        </div>
        <div class="work-text {% if size == 'full' %}work-text--full{% endif %}">
            <h1 class="h1 {% if font_color == 'FW' %} white {% endif %}">{{ title }} </h1>
            <figcaption class="{% if font_color == 'FW' %} white {% endif %}">{{ time_line }}</figcaption>
            <small class="{% if font_color == 'FW' %} white {% endif %}">{{ blurb }}</small>
        </div>
    </div>
</a>
