<a href="{% url 'project' slug %}" class="base-card work-card ">
    <div class="work-img {% if size == 'full' %}work-img--full{% endif %}" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url({{ img }})">
        <div class="work-text {% if size == 'full' %}work-text--full{% endif %}">
            <div class="heading__1 heading__1--white">{{title}}</div>
            <div class="heading__small heading__small--white heading__small--lower">{{blurb}}</div>
        </div>
    </div>
</a>
