.contact-card {
    color: $grey--darker-2;
    text-align: justify;
    display: block;
    text-decoration: none;

    .contact-text {
        text-align: center;
        padding: 20px;
        align-self: center;
    }

    .contact-img {
        display: flex;
        justify-content: center;

        height: 350px;
        width: 100%;
        background-color: #263238;
    }

}
