.footer {
    text-align: center;
    background-color: $white;
    color: $grey;
}

.footer__text {
    align-self: center;
}

.footer__container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}


.footer__social {
    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        margin-left: 15px;
    }

    a {
        text-decoration: none;
        color: $grey;
    }
}
