.footer {
    text-align: center;

    // background-color: $grey--charcoal;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    color: $white;

    img {
        padding-top: 30px;
        max-width: 150px
    }

    h2 {
      font-size: 1.2em;
      padding: 20px
    }

    p {
        font-size: 1.0em;
        margin: 0;
    }

    .contact-left {
        @include respond-to(tablet) {
            text-align: left;
        }
    }

    .contact-right {
        @include respond-to(tablet) {
            text-align: right;
        }
    }

    .blurb {
        max-width: 50%;
        margin: 0 auto;
        padding: 30px;
    }
}
