.mega__heading {
    display: block;
    font-size: 3em;
    color: $black;
    &--white {
        color: white;
    }
}

.heading__page {
    font-size: 2em;
    font-weight: 400;
    line-height: 36px;
    color: $black;
    margin: 55px auto;

    &--white {
        color: $white;
    }
}

.heading__1 {
    display: block;
    font-size: 2em;
    font-weight: 500;
    color: $black;
    &--white {
        color: white;
    }
}

.heading__2 {
    display: block;
    font-size: 1.8em;
    font-weight: 500;
    color: $black;
    &--white {
        color: white;
    }
}

.heading__3 {
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    color: $black;
    &--white {
        color: white;
    }
}

.heading__content {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: $grey;
}


.heading__small {
    color: $grey--darker;
    font-size: 0.9em;
    font-weight: 500;

    &--white {
      color: white;
    }

    &--lower {
        text-transform: none;
    }
}
