h1 {
    color: $grey--charcoal;
}

.heading__page {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    color: $primaryAccent;
    margin: 55px auto;
}


.heading__content {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: $grey;
}
