%heading-base {
    font-family: 'Oxygen', sans-serif;
    display: block;
    color: $black;
}

.mega__heading {
    @extend %heading-base;
    font-size: 3em;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.h1 {
    @extend %heading-base;
    font-size: 2em;
    line-height: 36px;
    margin: 30px auto;
}

.h2 {
    @extend %heading-base;
    font-size: 2em;
}

.h3 {
    @extend %heading-base;
    font-size: 1.8em;
}

.h4 {
    @extend %heading-base;
    font-size: 1.5em;
}

.h5 {
    @extend %heading-base;
    font-size: 14px;
    color: $grey;
}

small {
    @extend %heading-base;
    color: $grey--darker;
    font-size: 0.9em;
    font-weight: 500;
}
