.jumbotron {
    background-image: linear-gradient(to top right, rgba(51,122,183, 0.5), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    margin-bottom: 0;
    position: relative;
    margin-bottom: 0;
    position: relative;

    height: 90vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    p {
          color: $white;
      margin-top: 0;
    }
}
