.image__float--right {
    margin: 0 auto;

    img {
      width: 100%;
    }

    @include respond-to(mobile) {
        float: right;
        padding: 20px;
        max-width: 50%;
    }
}

.image__single {
    img {
      max-width: 100%;
    }
}

.image__float--left {
    margin: 0 auto;

    img {
      width: 100%;
    }

    @include respond-to(mobile) {
        float: left;
        padding: 20px;
        max-width: 50%;
    }
}

.image__triple {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;

    @include respond-to(tablet) {
        max-width: 32%;
    }

    img {
      width: 100%;
    }
}

.image__double {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;

    @include respond-to(tablet) {
        max-width: 49%;
    }

    img {
      width: 100%;
    }
}
