.social {
    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        margin-left: 15px;
    }

    a {
        text-decoration: none;
        color: $grey;
    }
}

.social--header {
    ul {
      padding-left: 0;
    }

    li {
        margin: 0;
    }

    a {
        padding: 15px;
        color: white;

        i {
            transition: all cubic-bezier(.25,.75,.5,1.25) 0.2s;
        }

        &:hover {
            i {
              transform: scale(1.5);
            }
        }
    }
}
