.work-card {
    color: $black;
    text-align: justify;
    display: block;
    text-decoration: none;

    .work-text {
        z-index: 2;
        padding: 20px;
        align-self: flex-end;
        &--full {
          align-self: center;
        }

        h1, figcaption, small {
            transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -ms-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
        }

    }

    .work-tile-wrapper {
        position: relative;
        display: flex;

        height: 350px;
        width: 100%;

        background-size: cover;
        background-position:50% 50%;
        background-repeat: no-repeat;

        &--full {
            text-align: center;
            justify-content: center;
        }

        &:hover .work-img img{
            transform: scale(1.05);
        }

        &:hover {

            .work-img img {
                transform: scale(1.05);
            }


            .work-text h1 {
                transform: translateY(-5px);
            }

            .work-text figcaption, small {
              transform: translateY(5px);
            }
        }
    }

    .work-img {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;

              transition: all 0.2s ease-in;
              -moz-transition: all 0.2s ease-in;
              -ms-transition: all 0.2s ease-in;
              -o-transition: all 0.2s ease-in;
              -webkit-transition: all 0.2s ease-in;
          }
    }

}
