{% extends "base.html" %}
{% load static %}

{% block main-content %}

    <!--*
        * Jumbotron
        * -->
    <div class="jumbotron"
        style="background-image: linear-gradient(to top right, rgba(33,33,33, 0.6), rgba(0, 0, 0, 0.8)), url({% static 'img/fallback/jumb-temp.jpg' %});">
        <h1 class="mega__heading white">Software Engineer</h1>
        <small class="white">me@sdup.nz</small>
        <div class="social social--header">
            <ul>
              <li><a href=https://www.linkedin.com/in/simondupreez/"" target="blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/SDupZ" target="blank"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.facebook.com/sdup.nz" target="blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>


    <!--*
        * Portfolio Items
        * -->
    <div class="container">
        <h1 class="h1">Work.</h1>
    </div>

    <div class="container">
        <div class="grid grid--center">
            {% for project in projects %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="grid__item one-whole">
                        {% include 'includes/_work-tile.html' with size='full' time_line=project.time_line img=project.icon.url  title=project.title blurb=project.blurb date=project.created|date:'N d, Y' slug=project.slug color=project.get_rgba %}
                    </div>
                {% else %}
                    <div class="grid__item one-whole tablet--one-half">
                        {% include 'includes/_work-tile.html' with img=project.icon.url time_line=project.time_line title=project.title blurb=project.blurb date=project.created|date:'N d, Y' slug=project.slug color=project.get_rgba %}
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>

    <div class="container">
      {% include 'includes/_contact-tile.html' with size='full' title='Get in touch.' %}
    </div>

{% endblock main-content %}
