{% extends "base.html" %}

{% load static %}

{% block header %}
    {% include 'includes/_header.html' with color="white" %}
{% endblock %}

{% block main-content %}
    <div class="page page--blog">
        <div class="container container--thin">
            <div class="base-card blog__card">
                <div class=colour-strip style="background: {{ project.color }}"></div>
                <div class="blog__content">
                    <h1 class="h1">
                        {{ project.title }}
                    </h1>
                    <figcaption>{{ project.time_line }}</figcaption>
                    <p>{{ project.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}
