{% extends "base.html" %}

{% load static %}

{% block header %}
    {% include 'includes/_header.html' with color="white" %}
    <div class=colour-strip style="background: {{ project.color }}"></div>
{% endblock %}

{% block main-content %}
    <!--*fonts
        * Jumbotron
        * -->
    <div class="jumbotron jumbotron--small"
        style="background-image: linear-gradient(to top right, rgba(33,33,33, 0.6), rgba(0, 0, 0, 0.8)), url({% if project.header_image %}{{ project.header_image.url }}{% else %}{% static 'img/fallback/jumbotron-temp.jpg' %}{% endif %});">
        <h1 class="mega__heading white">{{ project.title }}</h1>
        <figcaption class="white">{{ project.time_line }}</figcaption>
    </div>


    <!--*
        * Article Content
        * -->
    <div class="page page--blog">
        <div class="container">
            <div class="base-card blog__card">

                <div class="blog__content">
                    <div class="container container--thin">
                      <br />
                      <h2>What is {{ project.title }}?</h2>
                      <figcaption>{{ project.blurb }}</figcaption>
                    </div>
                    <p>{{ project.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}
